{erl_opts, [debug_info]}.
{deps, [
{re_tuner, "0.1.19"},
{sstr, {git, "git://github.com/rustkas/erlang-simple-string.git", {branch, "rebar3_way"}}}
]}.


{relx, [{release, {basic, "0.1.0"},
         [basic,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]},
			{test, [{eunit_opts, [verbose]}]}
			]}.





{plugins, [rebar3_format]}.

{format, [
    {files, [
	"lib/recipe_01/src/*.erl",
	"lib/recipe_02/src/*.erl",
	"lib/recipe_03/src/*.erl",
	"lib/recipe_04/src/*.erl",
	"lib/recipe_05/src/*.erl",
	"lib/recipe_06/src/*.erl",
	"lib/recipe_07/src/*.erl",
	"lib/recipe_08/src/*.erl",
	"lib/recipe_09/src/*.erl",
	"lib/recipe_10/src/*.erl",
	"lib/recipe_11/src/*.erl",
	"lib/recipe_12/src/*.erl",
	"lib/recipe_13/src/*.erl",
	"lib/recipe_14/src/*.erl",
	"lib/recipe_15/src/*.erl",
	"lib/recipe_16/src/*.erl",
	"lib/recipe_17/src/*.erl",
	"lib/recipe_18/src/*.erl",
	"lib/recipe_19/src/*.erl",
	"lib/recipe_20/src/*.erl",
	"lib/recipe_21/src/*.erl",
	"lib/recipe_22/src/*.erl"
	]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.
